<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StartIT Latvijas filmu lapa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='stils.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" />
</head>

<body class="body">
    {% block virsraksts %}
    <h1>Start(IT) Latvijas filmu lapa</h1>
    {% endblock %}
    <hr />
    {% block saturs %}
    <p>Lapa ir veidošanas stadijā, pienāciet vēlāk</p>
    {% endblock %}
</body>

</html>